---
layout: base
---

<h1 class="mb-1">{{ title }}</h1>
<article class="mx-auto prose lg:prose-lg prose-h1:mb-1 mt-10">
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    {{content | safe}}
</article>
