// Colors
$white: #fefefe !default;
$black: #323232 !default;
$bg-color: $white !default;
$fg-color: $black !default;
$alt-bg-color: #dcdcdc !default;
$alt-fg-color: #000 !default;
$primary-color: #bd5d38 !default;
$link-color: #3366CC !default;