// Colors
$white: #fefefe !default;
$black: #323232 !default;
$grey: #6c757d !default;
$bg-color: $white !default;
$fg-color: $black !default;
$alt-bg-color: #dcdcdc !default;
$alt-fg-color: #000 !default;
$primary-color: #a02828 !default;
// $primary-color: #1c887a !default;
// $primary-color: #3c588c !default;
$link-color: $primary-color;