section > h2 {
    margin-top: 4rem;
    margin-bottom: 0;
}
.cv-element {
    margin-top: 3rem;
    .heading {
        display: flex;
        justify-content: space-between;
        h3 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        .position {
            // color: $grey;
            font-weight: normal;
            font-size: 1.4rem;
        }
        .location {
            font-weight: normal;
            font-size: 1.4rem;
            color: $grey;
            margin-left: 0.5rem;
        }
        .dates {
            margin-top: 0;
        }
    }
    .desc {
        li {
            margin-bottom: 0.5rem;
        }
    }
}