.d-none {
    display: none;
}

.d-lg-block {
    display: none;
}

@media (min-width : $breakpoint-lg) {
    .d-lg-block {
        display: block;
    }
    .d-lg-none {
        display: none;
    }
}