<footer class="mt-10 border-t-2 border-gray-100">
    <p class="container text-center font-light text-gray-700 py-4">© 2023 Ross Gray &nbsp; · &nbsp; Powered by <a href="https://www.11ty.io/">Eleventy</a></p>
</footer>