<header class="border-b-2 border-gray-100" role="navigation" aria-label="main navigation">
    <nav class="container flex justify-between py-6">
        <div>
            <a href="/" class="text-lg md:text-xl">{{site.title}}</a>
        </div>
        <div class="flex gap-6">
            {% for item in site.navigation %}
                <a href="{{ item.url }}" class="md:text-lg text-gray-700 {% if item.url == page.url %}text-blue-600 font-semibold{% endif %}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </nav>
</header>