<header class="border-b-2 border-gray-100" role="navigation" aria-label="main navigation">
    <nav class="container flex justify-between mx-auto py-6">
        <div>
            <a href="/" class="font-semibold">{{site.title}}</a>
        </div>
        <div class="flex">
            <a href="/posts" class="text-gray-700 hover:text-gray-900 mx-6">Posts</a>
            <a href="/about" class="text-gray-700 hover:text-gray-900 mx-6">About</a>
        </div>
    </nav>
</header>