<div class="mt-10 prose lg:prose-lg prose-h1:mb-1 prose-a:font-normal prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline prose-a:decoration-2 prose-a:underline-offset-4">
    {{content | safe}}
</div>