<div id="hero" class="container text-center md:mt-10">
    <div class="w-36 h-36 mx-auto rounded-full overflow-hidden my-4">
        <img src="{{ '/assets/img/avatar.jpg' | url }}" alt="Me" class="object-cover w-full h-full">
    </div>
</div>
