---
title: Projects
layout: base
---

<div class="max-w-screen-md mx-auto md:mt-4">
  <h1>{{title}}</h1>
  <ul id="projects-list" class="mt-6 md:mt-10">
  <li class="mt-6">
      <a href="/projects/silent-auction-app/" class="block text-lg md:text-xl font-medium">Silent Auction App</a>
  </li>
  </ul>
</div>